/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #090909;
}

.container{
    background-color:bisque;
    height: 50%;
    width:100%;
    padding-top:50px;
    display: flex;
    justify-content: center;
}
.image-container img {
    width: 310px; /* Set width */
    height: 100%; /* Maintain aspect ratio */
    border-radius: 0px; /* Optional: Rounded corners */
    object-fit: cover; /* Crop the image if needed */
    padding-left: 0px;
}

/* Header */
.info-container {
    background-color: white;
    padding: 80px 0px;
    color: rgb(0, 0, 0);
    text-align:left;
    padding-left:50px;
    border-radius: 0px;
}
.info-container h1, .info-container h3{
    padding-right: 60px;  /* Adjust as needed */
    padding-left: 60px;
}

/* About Section */
.about {
    text-align:left;
    width: 100%;
    padding: 20px;
    background: bisque;
}
.about p, .about h2{
    padding-left:70px;
}
/* Box Styling */
.box {
    text-align:left;
    width: 100%;
    padding: 20px;
    background: bisque;
}
.box p, .box h2{
    padding-left:70px;
}